body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f7;
}



header {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(58, 58, 58);
}

#menuindex{
    background-color: #363636;
}

#menuindex a{
    text-decoration: none;
    color: rgb(212, 212, 212);
}

.container1 {
    background: url(images/apple1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 h2 {
    font-size: 56px;
}

.container1 h3 {
    font-size: 28px;
}



body{
    background-color: #f5f5f7;
}

.containertvycasa{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.containertvycasa img{
    width: 100%;
    height: auto;
}


.containertvycasa h1{
    color: #1d1d1f;
    font-size: 96px;
    margin-bottom: 0;
    text-align: center;
}

.containertvycasa h2{
    color:#86868b;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}


.containertarjetas{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 20px;
}

.containertarjetas img{
    width: 100%;
    height: auto;
}


.c1, .c2{
    display: flex;
    gap: 20px;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    
}

.tarjeta>.arriba{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 20px;
}

.arriba>*{
    margin: 0;
}



#home{
    margin-top: 15px;
} 

#logoapple{
    width: 70px;
    height: auto;
}

#logohome{
    width: 35px;
    height: auto;
}

#appcasa {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0;
}

#appcasa p{
    margin: 0;
}


.tarjeta div{
    display: flex;
    gap: 10px;
    align-items: center;

}

.tarjeta button{
    background: #0071E3;
    border: none;
    border-radius: 980px;
    color: white;
    padding: 12px 22px;
}

.tarjeta a{
    text-decoration: none;
    color: #0071E3;
}

.tarjeta h3{
    font-size: 36px;
}

#tarjeta1{
    background-color: black;
    color: white;
}







/* MOVILES Y TABLETS*/
@media all and (max-width: 768px) {
    .container1 h2 {
        font-size: 32px;
    }

    .container1 h3 {
        font-size: 19px;
    }

    .containertvycasa h1{
        font-size: 48px;
    }

    .containertvycasa h2{
        font-size: 21px;
    }

    .tarjeta h3{
        font-size: 24px;
    }

    .containertarjetas{
        margin-left: 0;
        margin-right: 0;
    }
    
    .containertarjetas .c1, .containertarjetas .c2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
}



/* PORTATILES */
@media all and (min-width: 769px) and (max-width:1024px) {
    .container1 h2 {
        font-size: 48px;
    }

    .container1 h3 {
        font-size: 24px;
    }

    .containertvycasa h1{
        font-size: 48px;
    }

    .containertvycasa h2{
        font-size: 21px;
    }

    .tarjeta h3{
        font-size: 24px;
    }
}



/* ESCRITORIO */
@media all and (min-width: 1025px) and (max-width:1200px) {
    .containertvycasa h1{
        font-size: 64px;
    }

    .containertvycasa h2{
        font-size: 24px;
    }

    .tarjeta h3{
        font-size: 24px;
    }

    .containertarjetas{
        margin: 20px;
    }
    

}


/* TELEVISION */
@media all and (min-width: 1201px) {

    .containertvycasa h1{
        font-size: 96px;
    }

    .containertvycasa h2{
        font-size: 24px;
    }

    .tarjeta h3{
        font-size: 36px;
    }

}